<div class="container-range">
  <section id="content">

    <form class="form-content">
      <img src="assets/img/GUARDADIN.jpg" alt="anime">
      <div class="form-group">
        <label for="formControlRange">De quanto você precisa?</label>
        <div class="custom-control custom-radio">
          <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
          <label class="custom-control-label" for="customRadio1">De R$ 500 até R$ 2.000</label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
          <label class="custom-control-label" for="customRadio2">De R$ 4.000 até R$ 5.999</label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input">
          <label class="custom-control-label" for="customRadio3">De R$ 4.000 até R$ 5.999</label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="customRadio4" name="customRadio" class="custom-control-input">
          <label class="custom-control-label" for="customRadio4">Mais de R$ 10.000</label>
        </div>

      </div>
    </form>

    <h5>
      Faça seu cadastro e um de nossos consultores entrará em contato! <br>
      <a class="link active" [routerLink]="['/cadastro']" routerLinkActive="active">Cadastro</a>
    </h5>

  </section>
</div>
